<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <Meanbee_InfiniteScroll>
                <version>1.0.4</version>
            </Meanbee_InfiniteScroll>
        </modules>
        <models>
            <infinitescroll>
                <class>Meanbee_InfiniteScroll_Model</class>
            </infinitescroll>
        </models>
        <blocks>
            <infinitescroll>
                <class>Meanbee_InfiniteScroll_Block</class>
            </infinitescroll>
        </blocks>
        <helpers>
            <infinitescroll>
                <class>Meanbee_InfiniteScroll_Helper</class>
            </infinitescroll>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <infinitescroll>
                    <file>meanbee/infinitescroll.xml</file>
                </infinitescroll>
            </updates>
        </layout>
        <routers>
            <infinitescroll>
                <use>standard</use>
                <args>
                    <module>Meanbee_InfiniteScroll</module>
                    <frontName>infinitescroll</frontName>
                </args>
            </infinitescroll>
        </routers>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <meanbee_infinitescroll>
                        <type>singleton</type>
                        <class>Meanbee_InfiniteScroll_Model_Observer</class>
                        <method>addPaginationTags</method>
                    </meanbee_infinitescroll>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <infinitescroll>
                                            <title>Meanbee Infinite Scroll Settings</title>
                                        </infinitescroll>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Meanbee_InfiniteScroll />
            </modules>
        </suite>
    </phpunit>
    <default>
        <infinitescroll>
            <display>
                <enabled>0</enabled>
                <auto_scroll>1</auto_scroll>
            </display>
            <css_selector>
                <pager><![CDATA[.pager]]></pager>
                <toolbar_top><![CDATA[.toolbar:first]]></toolbar_top>
                <toolbar_bottom><![CDATA[.toolbar-bottom]]></toolbar_bottom>
                <grid_item><![CDATA[.products-grid]]></grid_item>
                <grid_container><![CDATA[.products-grid:last]]></grid_container>
                <grid_action>after</grid_action>
                <list_item><![CDATA[.item]]></list_item>
                <list_container><![CDATA[.products-list]]></list_container>
                <list_action>bottom</list_action>
            </css_selector>
        </infinitescroll>
    </default>
</config>
