<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <Meanbee_InfiniteScroll>
                <version>1.0.0</version>
            </Meanbee_InfiniteScroll>
        </modules>
        <models>
            <infinitescroll>
                <class>Meanbee_InfiniteScroll_Model</class>
            </infinitescroll>
        </models>
        <blocks>
            <infinitescroll>
                <class>Meanbee_InfiniteScroll_Block</class>
            </infinitescroll>
        </blocks>
        <helpers>
            <infinitescroll>
                <class>Meanbee_InfiniteScroll_Helper</class>
            </infinitescroll>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <infinitescroll>
                    <file>meanbee/infinitescroll.xml</file>
                </infinitescroll>
            </updates>
        </layout>
        <routers>
            <infinitescroll>
                <use>standard</use>
                <args>
                    <module>Meanbee_InfiniteScroll</module>
                    <frontName>infinitescroll</frontName>
                </args>
            </infinitescroll>
        </routers>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <Meanbee_InfiniteScroll />
            </modules>
        </suite>
    </phpunit>
</config>
