<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <infinitescroll translate="label" module="infinitescroll">
            <label>Meanbee: Infinite Scroll</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>41</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <display translate="label" module="infinitescroll">
                    <label>Display Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label" module="infinitescroll">
                            <label>Enable Infinite Scroll?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <auto_scroll>
                            <label>Automatic Fetch?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If this option is enabled, then the next page of products will be fetched when the user scrolls to the bottom of the page.  If this option is disabled, then a button to fetch the next page will be presented to the user.]]></comment>
                        </auto_scroll>
                    </fields>
                </display>
                <css_selector translate="label" module="infinitescroll">
                    <label>CSS Selectors (Advanced)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <pager>
                            <label>Pager</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pager>
                        <toolbar_top>
                            <label>Top Toolbar</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </toolbar_top>
                        <toolbar_bottom>
                            <label>Bottom Toolbar</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </toolbar_bottom>
                        <grid_item>
                            <label>Single Item (Grid Layout)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </grid_item>
                        <grid_container>
                            <label>Items Container (Grid Layout)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </grid_container>
                        <grid_action>
                            <label>Item Insertion Rule (Grid Layout)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>infinitescroll/source_config_alignment</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </grid_action>
                        <list_item>
                            <label>Single Item (List Layout)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </list_item>
                        <list_container>
                            <label>Items Container (List Layout)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </list_container>
                        <list_action>
                            <label>Item Insertion Rule (List Layout)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>infinitescroll/source_config_alignment</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </list_action>
                    </fields>
                </css_selector>
            </groups>
        </infinitescroll>
    </sections>
</config>
